## Build generated

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

.DS_Store

# Debug files
*.dSYM/
MergeLocalize/MergeLocalize.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MergeLocalize/MergeLocalize.xcodeproj/project.xcworkspace/xcuserdata/mzch.xcuserdatad/UserInterfaceState.xcuserstate
MergeLocalize/MergeLocalize.xcodeproj/xcuserdata/mzch.xcuserdatad/xcschemes/xcschememanagement.plist
MergeLocalize/MergeLocalize.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MergeLocalize/MergeLocalize/.idea/.gitignore
MergeLocalize/MergeLocalize/.idea/MergeLocalize.iml
MergeLocalize/MergeLocalize/.idea/misc.xml
MergeLocalize/MergeLocalize/.idea/modules.xml
MergeLocalize/MergeLocalize/.idea/vcs.xml
MergeLocalize/MergeLocalize/build/.this_folder_is_for_cmake
MergeLocalize/MergeLocalize/cmake-build-debug/cmake_install.cmake
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeCache.txt
MergeLocalize/MergeLocalize/cmake-build-debug/Makefile
MergeLocalize/MergeLocalize/cmake-build-debug/MergeLocalize.cbp
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/clion-environment.txt
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/clion-log.txt
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/cmake.check_cache
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/CMakeOutput.log
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/Makefile.cmake
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/Makefile2
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/progress.marks
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/TargetDirectories.txt
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/MergeLocalize.dir/build.make
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/MergeLocalize.dir/cmake_clean.cmake
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/MergeLocalize.dir/depend.make
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/MergeLocalize.dir/DependInfo.cmake
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/MergeLocalize.dir/flags.make
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/MergeLocalize.dir/link.txt
MergeLocalize/MergeLocalize/cmake-build-debug/CMakeFiles/MergeLocalize.dir/progress.make
