# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
MergeLocalize/MergeLocalize.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MergeLocalize/MergeLocalize.xcodeproj/project.xcworkspace/xcuserdata/mzch.xcuserdatad/UserInterfaceState.xcuserstate
MergeLocalize/MergeLocalize.xcodeproj/xcuserdata/mzch.xcuserdatad/xcschemes/xcschememanagement.plist
